extends layout

mixin space()
  |&nbsp;

block content
  #header
    img#networkImage(src='images/neuralNetwork.svg' alt='Neural network')
    h1.title Air contamination forecast for Madrid
  #content
    p#actualValues AQI actual values
    #pollutionData
      #imageAQI
        img#smogImage(src='images/aqi.svg' alt='AQI')
        p#actualAQI #{totalAQI}
      table
        tbody
          tr
            td(style='text-align: left;')
              | PM25:
            td(style='text-align: right;')
              b #{actualPM25}
          tr
            td(style='text-align: left;')
              | PM10:
            td(style='text-align: right;')
              b #{actualPM10}
          tr
            td(style='text-align: left;')
              | O3:
            td(style='text-align: right;')
              b #{actualO3}
          tr
            td(style='text-align: left;')
              | NO2:
            td(style='text-align: right;')
              b #{actualNO2}
          tr
            td(style='text-align: left;')
              | SO2:
            td(style='text-align: right;')
              b #{actualSO2}
      .listMadrid
          ul
            li(style="font-weight: bolder; font-size: 32px;")
              | Madrid
            li
              | #{date0}
            li
              | #{currentTemperature} ºC
            li 
              | #{condition}  
    p#actualValues Forecast of the pollutants values for next week
    #buttons
      button.pollutant#PM25Button(onclick="togglePM25()" style="text-decoration:underline; font-weight:bolder") PM2.5
      ||
      button.pollutant#PM10Button(onclick="togglePM10()") PM10
      ||
      button.pollutant#O3Button(onclick="toggleO3()") O3
      ||
      button.pollutant#NO2Button(onclick="toggleNO2()") NO2
      ||
      button.pollutant#SO2Button(onclick="toggleSO2()") SO2
    p.pollutantInfo PM2.5 refers to particles in the air that are two and one half microns or less in width. <br> Especially dangerous to human health because they bypass many of our body’s defenses.
    p.pollutantInfo(style="display:none;") PM10 refers to particles with a diameter of 10 micrometers (µm) or less. <br> Because PM10 is a larger particle than PM2.5, it’s less likely to cross from the lungs into the bloodstream.
    p.pollutantInfo(style="display:none;") Ozone can be particularly dangerous and abundant on hot days in an urban area. <br> Exposure to ozone can make it very difficult to breathe and cause coughing and shortness of breath.
    p.pollutantInfo(style="display:none;") Nitrogen dioxide is produced from combustion processes. <br> Its presence is closely linked to the formation or presence of other air pollutants. 
    p.pollutantInfo(style="display:none;") Sulfur dioxide is a a colorless, bad-smelling, toxic gas. <br> It can contribute to respiratory illness by making breathing more difficult.
    #pollutionCharts
      +space
      canvas#PM25Chart
      script.
        var data=["#{PM25_ahead_1}", "#{PM25_ahead_2}", "#{PM25_ahead_3}", "#{PM25_ahead_4}", "#{PM25_ahead_5}", "#{PM25_ahead_6}", "#{PM25_ahead_7}"];
        var colors = [];
        for(var i = 0; i < data.length; i++){
          var color;
          switch(true){
              case data[i] < 51:
                  color = "#177245";
                  break;
              case data[i] < 101:
                  color = "#C4A705";
                  break;
              case data[i] < 151:
                  color = "#C96112";
                  break;
              case data[i] < 201:
                  color = "#C1301C";
                  break;
              case data[i] < 301:
                  color = "#8F3F97";
                  break;
              case data[i] < 501:
                  color = "#7E0023";
                  break;
          }
          colors[i] = color;
        }
        var ctx= document.getElementById("PM25Chart").getContext("2d");
        var myChart= new Chart(ctx,{
        type: 'bar',
        data: {
          labels: ["#{date1}", "#{date2}", "#{date3}", "#{date4}", "#{date5}", "#{date6}", "#{date7}"],
          datasets: [{ 
              data: data,
              backgroundColor: colors,
              borderColor: 'rgba(0, 0, 0, 0)',
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: false,
          scales : {
              x: {
              ticks: {
                font: {
                    size: 16,
                }
              }
            },
            y : {
              ticks: {
                font: {
                    size: 16,
                }
              },
              min: 0
            }
          },
          plugins: {
            legend: {
                display:false
            }
          }
        }
        });

      canvas#PM10Chart(style=" display:none")
      script.
        var data = ["#{PM10_ahead_1}", "#{PM10_ahead_2}", "#{PM10_ahead_3}", "#{PM10_ahead_4}", "#{PM10_ahead_5}", "#{PM10_ahead_6}", "#{PM10_ahead_7}"];
        var colors = [];
        for(var i = 0; i < data.length; i++){
          var color;
          switch(true){
              case data[i] < 51:
                  color = "#177245";
                  break;
              case data[i] < 101:
                  color = "#C4A705";
                  break;
              case data[i] < 151:
                  color = "#C96112";
                  break;
              case data[i] < 201:
                  color = "#C1301C";
                  break;
              case data[i] < 301:
                  color = "#8F3F97";
                  break;
              case data[i] < 501:
                  color = "#7E0023";
                  break;
          }
          colors[i] = color;
        }

        var ctx= document.getElementById("PM10Chart").getContext("2d");
        var myChart= new Chart(ctx,{
        type: 'bar',
        data: {
          labels: ["#{date1}", "#{date2}", "#{date3}", "#{date4}", "#{date5}", "#{date6}", "#{date7}"],
          datasets: [{ 
              data: data,
              backgroundColor: colors,
              borderColor: 'rgba(0, 0, 0, 0)',
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: false,
          scales : {
              x: {
              ticks: {
                font: {
                    size: 16,
                }
              }
            },
            y : {
              ticks: {
                font: {
                    size: 16,
                }
              },
              min: 0
            }
          },
          plugins: {
            legend: {
                display:false
            }
          }
        }
        });

      canvas#O3Chart(style="display:none")
      script.
        var data = ["#{O3_ahead_1}", "#{O3_ahead_2}", "#{O3_ahead_3}", "#{O3_ahead_4}", "#{O3_ahead_5}", "#{O3_ahead_6}", "#{O3_ahead_7}"];
        var colors = [];
        for(var i = 0; i < data.length; i++){
          var color;
          switch(true){
              case data[i] < 51:
                  color = "#177245";
                  break;
              case data[i] < 101:
                  color = "#C4A705";
                  break;
              case data[i] < 151:
                  color = "#C96112";
                  break;
              case data[i] < 201:
                  color = "#C1301C";
                  break;
              case data[i] < 301:
                  color = "#8F3F97";
                  break;
              case data[i] < 501:
                  color = "#7E0023";
                  break;
          }
          colors[i] = color;
        }

        var ctx= document.getElementById("O3Chart").getContext("2d");
        var myChart= new Chart(ctx,{
        type: 'bar',
        data: {
          labels: ["#{date1}", "#{date2}", "#{date3}", "#{date4}", "#{date5}", "#{date6}", "#{date7}"],
          datasets: [{ 
              data: data,
              backgroundColor: colors,
              borderColor: 'rgba(0, 0, 0, 0)',
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: false,
          scales : {
              x: {
              ticks: {
                font: {
                    size: 16,
                }
              }
            },
            y : {
              ticks: {
                font: {
                    size: 16,
                }
              },
              min: 0
            }
          },
          plugins: {
            legend: {
                display:false
            }
          }
        }
        });

      canvas#NO2Chart(style="display:none")
      script.
        var data = ["#{NO2_ahead_1}", "#{NO2_ahead_2}", "#{NO2_ahead_3}", "#{NO2_ahead_4}", "#{NO2_ahead_5}", "#{NO2_ahead_6}", "#{NO2_ahead_7}"];
        var colors = [];
        for(var i = 0; i < data.length; i++){
          var color;
          switch(true){
              case data[i] < 51:
                  color = "#177245";
                  break;
              case data[i] < 101:
                  color = "#C4A705";
                  break;
              case data[i] < 151:
                  color = "#C96112";
                  break;
              case data[i] < 201:
                  color = "#C1301C";
                  break;
              case data[i] < 301:
                  color = "#8F3F97";
                  break;
              case data[i] < 501:
                  color = "#7E0023";
                  break;
          }
          colors[i] = color;
        }

        var ctx= document.getElementById("NO2Chart").getContext("2d");
        var myChart= new Chart(ctx,{
        type: 'bar',
        data: {
          labels: ["#{date1}", "#{date2}", "#{date3}", "#{date4}", "#{date5}", "#{date6}", "#{date7}"],
          datasets: [{ 
              data: data,
              backgroundColor: colors,
              borderColor: 'rgba(0, 0, 0, 0)',
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: false,
          scales : {
              x: {
              ticks: {
                font: {
                    size: 16,
                }
              }
            },
            y : {
              ticks: {
                font: {
                    size: 16,
                }
              },
              min: 0
            }
          },
          plugins: {
            legend: {
                display:false
            }
          }
        }
        });

      canvas#SO2Chart(style="display:none")
      script.
        var data = ["#{SO2_ahead_1}", "#{SO2_ahead_2}", "#{SO2_ahead_3}", "#{SO2_ahead_4}", "#{SO2_ahead_5}", "#{SO2_ahead_6}", "#{SO2_ahead_7}"];
        var colors = [];
        for(var i = 0; i < data.length; i++){
          var color;
          switch(true){
              case data[i] < 51:
                  color = "#177245";
                  break;
              case data[i] < 101:
                  color = "#C4A705";
                  break;
              case data[i] < 151:
                  color = "#C96112";
                  break;
              case data[i] < 201:
                  color = "#C1301C";
                  break;
              case data[i] < 301:
                  color = "#8F3F97";
                  break;
              case data[i] < 501:
                  color = "#7E0023";
                  break;
          }
          colors[i] = color;
        }

        var ctx= document.getElementById("SO2Chart").getContext("2d");
        var myChart= new Chart(ctx,{
        type: 'bar',
        data: {
          labels: ["#{date1}", "#{date2}", "#{date3}", "#{date4}", "#{date5}", "#{date6}", "#{date7}"],
          datasets: [{ 
              data: data,
              backgroundColor: colors,
              borderColor: 'rgba(0, 0, 0, 0)',
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: false,
          scales : {
              x: {
              ticks: {
                font: {
                    size: 16,
                }
              }
            },
            y : {
              ticks: {
                font: {
                    size: 16,
                }
              },
              min: 0
            }
          },
          plugins: {
            legend: {
                display:false
            }
          }
        }
        });

      .legend
        .legendTitle AQI standard levels and meaning
        .scale
          ul.labels
            li
              span(style='background: #177245;')
              | Good (<51)
            li
              span(style='background: #C4A705')
              | Moderate (<101)
            li
              span(style='background: #C96112;')
              | Unhealthy (sensitive groups) (<151)
            li
              span(style='background: #C1301C;')
              | Unhealthy (<201)
            li
              span(style='background: #8F3F97;')
              | Very unhealty (<301)
            li
              span(style='background: #7E0023')
              | Hazardous (301+)
        .source
          | Source: 
          a(href='https://www.airnow.gov/aqi/aqi-basics/') AirNow 

    +space
    #information
      h2 <br>What is AQI?
      p The Air Quality Index (AQI) is used for reporting daily air quality. It tells you how clean or polluted your air is, and what associated health effects might be a concern for you. 
      p The AQI focuses on health effects you may experience within a few hours or days after breathing polluted air. Ground-level ozone and airborne particles are the two pollutants that pose the greatest threat to human health.
      p Source for further information: <a href="https://www.weather.gov/safety/airquality-aqindex">https://www.weather.gov/safety/airquality-aqindex</a>
      +space
      h2 How do we obtain the forecast?
      p Using artificial intelligence techniques, we offer the prediction for the contamination values in the city of Madrid for the next week.
      p A model obtained from a neural network trained with historical data allows us to know the trends in order to anticipate possible issues.
      
  #footer
    img#usalImage(src='images/usal.png' alt='USAL')
    h3 Ismael Mira Hernández | TFG Grado en Ingeniería Informática | 2022